<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 配置hibernate相关的属性 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置hibernate属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 配置数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 加载hibernate映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/aco/mana/domain/Admin.hbm.xml</value>
				<value>com/aco/mana/domain/Furniture.hbm.xml</value>
				<value>com/aco/mana/domain/StoreHouse.hbm.xml</value>
				<value>com/aco/mana/domain/Client.hbm.xml</value>
				<value>com/aco/mana/domain/InFurniture.hbm.xml</value>
				<value>com/aco/mana/domain/InFurnitureDetail.hbm.xml</value>
				<value>com/aco/mana/domain/OutFurniture.hbm.xml</value>
				<value>com/aco/mana/domain/OutFurnitureDetail.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置Action的类（Action类交给spring管理，需要配置多例模式） -->
	<bean id="adminAction" class="com.aco.mana.action.AdminAction"
		scope="prototype">
		<!-- 手动注入service -->
		<property name="adminService" ref="adminService" />
	</bean>
	<bean id="furnitureAction" class="com.aco.mana.action.FurnitureAction"
		scope="prototype">
		<property name="furnitureService" ref="furnitureService"></property>
	</bean>
	<bean id="storehouseAction" class="com.aco.mana.action.StorehouseAction"
		scope="prototype">
		<property name="storehouseService" ref="storehouseService"></property>
	</bean>
	<bean id="clientAction" class="com.aco.mana.action.ClientAction"
		scope="prototype">
		<property name="clientService" ref="clientService"></property>
	</bean>
	<bean id="inFurnitureAction" class="com.aco.mana.action.InFurnitureAction"
		scope="prototype">
		<property name="inFurnitureService" ref="inFurnitureService"></property>
	</bean>
	<bean id="inFurnitureDetailAction" class="com.aco.mana.action.InFurnitureDetailAction"
		scope="prototype">
		<property name="inFurnitureDetailService" ref="inFurnitureDetailService"></property>
		<property name="inFurnitureService" ref="inFurnitureService"></property>
		<property name="furnitureService" ref="furnitureService"></property>
		<property name="storehouseService" ref="storehouseService"></property>
	</bean>
	<bean id="outFurnitureAction" class="com.aco.mana.action.OutFurnitureAction"
		scope="prototype">
		<property name="outFurnitureService" ref="outFurnitureService"></property>
		<property name="clientService" ref="clientService"></property>
	</bean>
	<bean id="outFurnitureDetailAction" class="com.aco.mana.action.OutFurnitureDetailAction"
		scope="prototype">
		<property name="outFurnitureDetailService" ref="outFurnitureDetailService"></property>
		<property name="outFurnitureService" ref="outFurnitureService"></property>
		<property name="furnitureService" ref="furnitureService"></property>
		<property name="storehouseService" ref="storehouseService"></property>
		<property name="inFurnitureDetailService" ref="inFurnitureDetailService"></property>
	</bean>
		
	<!-- 配置业务层的类 -->
	<bean id="adminService" class="com.aco.mana.service.impl.AdminServiceImpl">
		<property name="adminDao" ref="adminDao" />
	</bean>
	<bean id="furnitureService" class="com.aco.mana.service.impl.FurnitureServiceImpl">
		<property name="furnitureDao" ref="furnitureDao"></property>
	</bean>
	<bean id="storehouseService" class="com.aco.mana.service.impl.StorehouseServiceImpl">
		<property name="storehouseDao" ref="storehouseDao"></property>
	</bean>
	<bean id="clientService" class="com.aco.mana.service.impl.ClientServiceImpl">
		<property name="clientDao" ref="clientDao"></property>
	</bean>
	<bean id="inFurnitureService" class="com.aco.mana.service.impl.InFurnitureServiceImpl">
		<property name="inFurnitureDao" ref="inFurnitureDao"></property>
	</bean>
	<bean id="inFurnitureDetailService" class="com.aco.mana.service.impl.InFurnitureDetailServiceImpl">
		<property name="inFurnitureDetailDao" ref="inFurnitureDetailDao"></property>
	</bean>
	<bean id="outFurnitureService" class="com.aco.mana.service.impl.OutFurnitureServiceImpl">
		<property name="outFurnitureDao" ref="outFurnitureDao"></property>
	</bean>
	<bean id="outFurnitureDetailService" class="com.aco.mana.service.impl.OutFurnitureDetailServiceImpl">
		<property name="outFurnitureDetailDao" ref="outFurnitureDetailDao"></property>
	</bean>
	
	<!-- 配置DAO的类 -->
	<bean id="adminDao" class="com.aco.mana.dao.impl.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="furnitureDao" class="com.aco.mana.dao.impl.FurnitureDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="storehouseDao" class="com.aco.mana.dao.impl.StorehouseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="clientDao" class="com.aco.mana.dao.impl.ClientDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="inFurnitureDao" class="com.aco.mana.dao.impl.InFurnitureDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="inFurnitureDetailDao" class="com.aco.mana.dao.impl.InFurnitureDetailDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="outFurnitureDao" class="com.aco.mana.dao.impl.OutFurnitureDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="outFurnitureDetailDao" class="com.aco.mana.dao.impl.OutFurnitureDetailDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>